  .div1{
        background-color:rgb(247, 250, 241);font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:xx-large;}
        body {
            background-color: rgb(13, 197, 214);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border-style: dotted dashed solid double;
        }

   .interest{

}